name: Deploy to FTP

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          # Note: The 'Context access might be invalid' warning for secrets is often a false positive
          # in the VS Code extension if it cannot validate the secret existence.
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: 'epub-liberator/'
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            docs/**
